@import url('https://fonts.googleapis.com/css?family=Bitter|Overpass+Mono|Roboto+Slab:700|Oswald:700');


body{
  background-color: #A19E9C;
}

#begin{
  font-family: 'Overpass Mono', monospace;
  font-size: 3em;
  font-weight: 700;
  padding-top: 1.5vh;
}

.jumbotron{
  padding-bottom: 12px;
}

#main{
  position: relative;
}

.bitter{
  font-family: 'Bitter', serif;
}

.overpass{
  font-family: 'Overpass Mono', monospace;
}

.correct{
  position: absolute;

  z-index: 100;

  color: #4F9D69;
  font-family: 'Roboto Slab', serif;
  font-size: 20vh;  
}
.wrong{
  position: absolute;
  
  z-index: 100;

  color: #BC4B51;
  font-family: 'Roboto Slab', serif;
  font-size: 20vh;
}

.twisted{
  -ms-transform: rotate(-30deg); /* IE 9 */
  -webkit-transform: rotate(-30deg); /* Safari 3-8 */
  transform: rotate(-30deg);
}

.twistedN{
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  transform: rotate(20deg);
}

.background{
  position: fixed;

  top: 50%;
  left: 50%;

  margin-top: -84vw;
  margin-left: -57vw;

  font-family: 'Oswald', sans-serif;
  color: #D9D8D7;
  font-size: 106vw;

  z-index: -10;
}

/* These pieces of code hide the scrollbar, taken from Stack Overflow, 
here: https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}